@import "variables.scss";
@import "font-awesome";
.mainmenu-wrapper.well {
    z-index: 10000;
}

.mainmenu-wrapper.well {
    #language-large {
        > a {
            span.display-name {
                padding-left: 2ex;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .mainmenu-wrapper.well {
        background-color: transparent;
        box-shadow: none;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
        #language-large {
            display: none;
        }
        #language-small {
            img {
                width: 22px;
                height: 20px;
                padding: 0;
            }
            position: fixed;
            top: 0;
            left: 0;
            ul {
                li {
                    margin: 1ex;
                }
                position: fixed;
                top: 60px;
                left: 10px;
                right: 10px;
                width: auto;
                background-color: #EEE;
            }

            a {
                border-radius: 5px;
                padding: 9px;
                line-height: 1.8ex;
                img {
                    margin-right: 1ex;
                }
            }
            > a {
                padding: 9px;
                line-height: 1.1ex;
                background-color: transparent !important;
                background: none;
                box-shadow: none;
                border: 3px solid $theme-color;
                width: 48px;
                height: 44px;
                span.display-name {
                    display: none;
                }
            }
            > a:hover {
                border: 3px solid $theme-color !important;
                border-radius: 5px;
            }
        }

        a {
            font-size: 21pt;
        }
        .navbar .navbar-toggle {
            border: 3px solid $theme-color;
            span {
                background-color: $theme-color;
                color: $theme-color;
            }
        }
    }
}

#language-select {

    img {
        padding: 0 1em 0 1em;
    }
    button {
        line-height: 1ex;
        text-align: left;
        padding-left: .2em;
        padding-right: 1.2em;
        letter-spacing: 0.075ex;
        &:hover {
            letter-spacing: 0;
        }
    }

    ul {
        margin-top: .2em;
        padding: 0;
    }
    a {
        background-color: $theme-color2;
        color: #fff;
        text-align: left;
        padding-left: .2em;
        padding-right: 1.2em;
        &:hover {
            background-color: $theme-color;
            color: #666666;
            font-weight: bold;
        }
    }
}

.dropdown-toggle {
    margin-bottom: 0px;
}
.dropdown-menu {
    margin-top: -.5ex;
    background-color: $theme-color;

    a.btn {
        margin: 3px;
        img {
            float: left;
            padding: 5px;
        }
    }
}

@media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    .mainmenu-wrapper.well {
        padding-top: 0px;
        padding-right: 10px;
        padding-bottom: 0;
        #language-small {
            display: none;
        }
    }
    .navbar .navbar-nav>li {
        margin-right: 2ex;
        a {
            padding: {
            top: 5px;
            bottom: 5px;
        }
        }

    }
}

// row 1621

#sequence {
    height: 100px;
}
#sequence > .sequence-canvas { /* required */
    height: 100%;
    width: 100%;
}

#sequence > .sequence-canvas > li { /* required */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#sequence > .sequence-canvas > li.bg1,
#sequence > .sequence-canvas > li.bg2,
#sequence > .sequence-canvas > li.bg3,
#sequence > .sequence-canvas > li.bg4,
#sequence > .sequence-canvas > li.bg5,
#sequence > .sequence-canvas > li.bg6,
#sequence > .sequence-canvas > li.bg7,
#sequence > .sequence-canvas > li.bg8,
#sequence > .sequence-canvas > li.bg9,
#sequence > .sequence-canvas > li.bg10,
#sequence > .sequence-canvas > li.bg11,
#sequence > .sequence-canvas > li.bg12,
#sequence > .sequence-canvas > li.bg13,
#sequence > .sequence-canvas > li.bg14 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.section.section-breadcrumbs {
    padding: 0;
    .section {
        padding: 0;
        padding-top: 20px;
    }
    &.section-breadcrumbs-sec1 {
        margin-bottom: 0;
    }
} //.section-breadcrumbs-main

.sequence-pagination li {
    border: 4px solid $slider-color;
}
.sequence-pagination li.current {
    background: $slider-color;
}
/* #sequence { position: fixed; top: 0; left: 0; } */
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.portfolio-item{
    max-height: 300px;
    overflow: hidden;
}
.portfolio-item.full-size{
    max-height: inherit;
}

.btn {
    &:hover {
        border: initial !important;
    }
}

.btn-white:not(.btn-link):not(.btn-flat) {
    background-color: #ffffff;
}

.btn-theme {
    background-color: $theme-color !important;
    color: #ffffff !important;
    display:inline-block;
    text-align:center;
    &:hover {
        color: #ffffff !important;
        font-weight: bold;
    }
    /* http://stackoverflow.com/questions/556153/horiz-css-menu-text-shifting-on-bold-hover */
    &::after {
        display:block;
        content:attr(title);
        font-weight:bold !important;
        height:1px;
        color:transparent;
        overflow:hidden;
        visibility:hidden;
        margin-bottom:-1px;
        margin-top:-1px;
    }
}

.btn::after {
        display:block;
        content:attr(title);
        font-weight:bold !important;
        height:1px;
        color:transparent;
        overflow:hidden;
        visibility:hidden;
        margin-bottom:-1px;
        margin-top:-1px;
}

.btn-alter-op {
    background-color:  $btn-alt2-color-op5 !important;
    color: #ffffff !important;
    &:hover {
        background-color:  $btn-alt2-color !important;
        color: #ffffff !important;
        font-weight: bold;
    }
    &.btn-alter-op-2 {
        background-color:  $btn-alt2-color-op2 !important;
        &:hover {
            background-color:  $btn-alt2-color !important;
        }
    }
}


.btn-rounded {
    border-radius: 2em;
}
