@import "variables.scss";
// components.less
.mainmenu li.logo-wrapper a{
  padding-right: 10px;
  margin-right: 10px;
}

.btn-theme {
    background-color: $theme-color !important;
    color: #ffffff;
    &:hover {
        color: #ffffff !important;
        font-weight: bold;
    }
}
.mainmenu-wrapper.well {
    padding-top: 0px;
    padding-right: 0px;
}

// row 2148
.mainmenu {
	/* first level ul style */
	>ul, .mainmenu-submenu-inner {
		>li {
			>a{
				padding: .2em 1.2em .2em 1.2em;
				margin-right: .5em;
            }
        }
    }
}

// row 1621

#sequence,
#sequence > .sequence-canvas,
#sequence > .sequence-canvas > li {

    height: 600px;
}

.portfolio-item{
    max-height: 300px;
    overflow: hidden;
}
body.project {
    .portfolio-item{
        max-height: inherit;
    }
}

@media screen and (max-width: 979px) {
    .mainmenu li.logo-wrapper {
        display: none;
    }
}

@media screen and (max-width: 479px) {
	.mainmenu > ul > li {
        border: 0;
    }
}