@import "variables.scss";

//
// Fonts
// --------------------------------------------
@mixin font-face($font-family, $weight, $slant) {
    @font-face {
        font-family: "#{$font-family}";
        src: url("/fonts/#{$font-family}_#{$weight}.eot");
        src: url("/fonts/#{$font-family}_#{$weight}.eot?#iefix") format("embedded-opentype"),
             url("/fonts/#{$font-family}_#{$weight}.woff") format("woff"),
             url("/fonts/#{$font-family}_#{$weight}.woff2") format("woff2"),
             url("/fonts/#{$font-family}_#{$weight}.ttf") format("truetype"),
             url("/fonts/#{$font-family}_#{$weight}.svg##{$font-family}#{$weight}") format("svg");
        @if $weight == "Bold" {
            font-weight: 700;
        } @else {
            font-weight: 400;
        }
        font-style: $slant;
    }
}
@each $style, $slant in (Regular, normal), (Bold, normal), (BoldItalic, italic), (Italic, italic) {
    @include font-face('CaviarDreams', $style, $slant);
    @include font-face('arsenal',      $style, $slant);

}

$arsenal: arsenal, "Helvetica Neue",Helvetica,Arial,sans-serif;
$caviar: CaviarDreams, Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;

//
// Gradients
// --------------------------------------------
@mixin gradient($color, $color2, $color4) {
    background-color: $color;
    background-image:
    radial-gradient(
            ellipse at top left,
            $color2, $color4
        );
}
@mixin main-gradient { @include gradient($theme-color,         $theme-color2,          $theme-color4); }
@mixin sec1-gradient { @include gradient($secondary1-color,    $secondary1-color-2,    $secondary1-color-4); }
@mixin sec2-gradient { @include gradient($secondary2-color,    $secondary2-color-2,    $secondary2-color-4); }
@mixin comp-gradient { @include gradient($complementary-color, $complementary-color-2, $complementary-color-4); }

//
// Links for gradient (breadcrumbs)
// --------------------------------------------
@mixin gradient-a ($color, $bg) {
    a {
        color: $color;
            &:hover {
                background-color: $bg;
                color: $color;
            }
    }
}
@mixin main-gradient-a { @include gradient-a ($complementary-color, $theme-color4)}
@mixin sec1-gradient-a { @include gradient-a ($secondary2-color,    $secondary1-color-4)}
@mixin sec2-gradient-a { @include gradient-a ($secondary1-color,    $secondary2-color-4)}
@mixin comp-gradient-a { @include gradient-a ($theme-color,         $complementary-color-4)}

//
// Start CSS
// --------------------------------------------
.showbox {
    width: 400px !important;
    height: 400px !important;

    img {
        width: auto;
        max-height: 350px;
    }
}

#toTop {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

#cta {
    font-size: 24pt;
    display: inline-block;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 9999;
}

#language-select {

    img {
        padding: 0 1em 0 1em;
    }
    button {
        line-height: 1ex;
        text-align: left;
        padding-left: .2em;
        padding-right: 1.2em;
        letter-spacing: 0.075ex;
        &:hover {
            letter-spacing: 0;
        }
    }

    ul {
        margin-top: .2em;
        padding: 0;
    }
    a {
        background-color: $theme-color2;
        color: #fff;
        text-align: left;
        padding-left: .2em;
        padding-right: 1.2em;
        &:hover {
            background-color: $theme-color;
            color: #666666;
            font-weight: bold;
        }
    }
}

.section.section-breadcrumbs {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    a {
        float: right;
        font-family: $caviar;
        font-weight: bold;
        text-decoration: none;
        color: rgba(0,0,0, .2);
        @media (max-width: 479px){
            float: none;
            width: 100%;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        color: #222222;
        &.tall {
            padding: {
                top: 1ex;
                bottom: 1ex;
            }
        }
    }

    &.section-breadcrumbs-main,
    &.section-breadcrumbs-sec1,
    &.section-breadcrumbs-sec2,
    &.section-breadcrumbs-comp {
        h1 { font-size: 4em;
             font-weight: normal;
           }
        a {
            font-size: 1.4em;
        }
    }

    &.section-breadcrumbs-main {
        @include main-gradient;
        @include main-gradient-a;

    }
    &.section-breadcrumbs-sec1 {
        @include sec1-gradient;
        @include sec1-gradient-a;
    }
    &.section-breadcrumbs-sec2 {
        @include sec2-gradient;
        @include sec2-gradient-a;
    }
    &.section-breadcrumbs-comp {
        @include comp-gradient;
        @include comp-gradient-a;
    }
}

body {
    font-family: $arsenal
}
h1,h2,h3,h4,h5,h6 {
    font-family: $caviar;
}

.section-top {
    margin-top: 79px;
    @media screen and (max-width: 979px) {
        margin-top: 68px;
    }
    @media screen and (max-width: 479px) {
        margin-top: 258px;
    }
}


.large-image-background {
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 450px;
    width: 100% !important;
    .text {
        max-width: 50%;
        background-color: rgba(255,255,255,.75);
        padding: 2ex;
        z-index: 100;
        border: 10px solid white;
        border-radius: 5px;

        hr {
            border-top: 1px solid #ccc;
        }
        /* @media screen and (max-width: 479px) { */
        /*     max-width: 100%; */
        /* } */
    }
    .display-img {
        background-size: contain;
        min-height: 400px;
        background-repeat: no-repeat;
        background-position: 15px top;
    }
    @media screen and (max-width: 979px) {
        .text {
            max-width: 100%;
            margin-top: 1ex;
        }
        img.display-img {
            top: 0;
            width: 100%;
            height: auto !important;
            min-height: initial;
            float: none;
        }
    }
}

.large-image-about {
	background-image: url(../images/about/bg.jpg);
}
.large-image-event {
	background-image: url(../images/event/bg.jpg);
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}

#product-pagination {
    li.active {
        a {
            border: 1px solid $theme-color2;
            @include main-gradient;
        }
    }
}


#thumbs {
    margin-top: 1ex;
    background-color: rgba(200,200,200,.6);
    padding: 5px;
    z-index: 100;
    border: 5px solid white;
    border-radius: 5px;
    img {
        margin: {
            left: 1px;
            right: 1px;
    }
        border: 2px solid #FFF;
        border-radius: 5px;
    }
}

#product-sequence {
    overflow: hidden;
    width: 100%;
    height: 600px;
    max-width: 1920px;
    color: white;
    margin: 0 auto 30px auto;
    position: relative;

    .sequence-canvas {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        li {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            img {
                width: 100%;
            }
        }
    }

    .sequence-pagination-wrapper {
        top: 10px;
        .sequence-pagination {
            li {
                border: 4px solid $theme-color4;
                &.current {
                    background-color: $theme-color4;
                }
            }
        }
    }
    .animate-in .product-img {
        left: 0;
        margin-left: -200%;
    }

    .animate-out .product-img {
        left: 0;
        margin-right: 500%;
    }
}


.btn-theme {
            @include main-gradient;
}
/* @media (min-width: 768px) { */
/* @media (max-width: 500px){ */
/* @media (max-width: 768px){ */
/* @media (max-width: 479px){ */
/* @media only screen and (min-width: 992px) { */
/* @media only screen and (max-width: 838px) { */
/* @media only screen and (max-width: 768px) { */
/* @media only screen and (max-width: 568px) { */
/* @media screen and (max-width: 979px) { */
/* @media screen and (max-width: 479px) { */
