@import "colorschemas/triad4_bright_pastel.scss";

$theme-color:      $color-primary-0;
$theme-color1:      $color-primary-1;
$theme-color2:      $color-primary-2;
$theme-color3:      $color-primary-3;
$theme-color4:      $color-primary-4;


$secondary1-color:    $color-secondary-1-0;
$secondary1-color-1:    $color-secondary-1-1;
$secondary1-color-2:    $color-secondary-1-2;
$secondary1-color-3:    $color-secondary-1-3;
$secondary1-color-4:    $color-secondary-1-4;

$secondary2-color:      $color-secondary-2-0;
$secondary2-color-1:    $color-secondary-2-1;
$secondary2-color-2:    $color-secondary-2-2;
$secondary2-color-3:    $color-secondary-2-3;
$secondary2-color-4:    $color-secondary-2-4;

$complementary-color:   $color-complement-0;
$complementary-color-1: $color-complement-1;
$complementary-color-2: $color-complement-2;
$complementary-color-3: $color-complement-3;
$complementary-color-4: $color-complement-4;



$theme-color-1-4:    $color-secondary-1-4;

$btn-alt1-color: $color-secondary-1-0;
$btn-alt2-color: $color-secondary-2-0;

$btn-alt1-color-op2: rgba($color-secondary-1-0, .2);
$btn-alt1-color-op5: rgba($color-secondary-1-0, .5);
$btn-alt1-color-op8: rgba($color-secondary-1-0, .8);

$btn-alt2-color-op2: rgba($color-secondary-2-0, .2);
$btn-alt2-color-op5: rgba($color-secondary-2-0, .5);
$btn-alt2-color-op8: rgba($color-secondary-2-0, .8);

$slider-color: $color-complement-0;
