@import "colorschemas/triad4_bright_pastel.scss";

$theme-color:      $color-primary-0;
$theme-color1:      $color-primary-1;
$theme-color2:      $color-primary-2;
$theme-color3:      $color-primary-3;
$theme-color4:      $color-primary-4;


$theme-color-1:    $color-secondary-1-0;
$theme-color-2:    $color-secondary-2-0;
$theme-color-comp: $color-complement-0;


$theme-color-1-4:    $color-secondary-1-4;

$btn-alt1-color: $color-secondary-1-0;
$btn-alt2-color: $color-secondary-2-0;

$btn-alt1-color-op2: rgba($color-secondary-1-0, .2);
$btn-alt1-color-op5: rgba($color-secondary-1-0, .5);
$btn-alt1-color-op8: rgba($color-secondary-1-0, .8);

$btn-alt2-color-op2: rgba($color-secondary-2-0, .2);
$btn-alt2-color-op5: rgba($color-secondary-2-0, .5);
$btn-alt2-color-op8: rgba($color-secondary-2-0, .8);

$slider-color: $color-complement-0;
