.showbox {
    width: 400px !important;
    height: 400px !important;

    img {
        width: auto;
        max-height: 350px;
    }
}

.choose-country {
    white-space: nowrap;
    a {
        font-size: 90%;
        img {
            margin-right: 5px;
            float: left;
        }
        .language {
            line-height: 11px;
        }
    }
}