.menuextras
  .extras
    ul
      li.shopping-cart-items
        i.glyphicon.glyphicon-shopping-cart.icon-white
        a[href="page-shopping-cart.html"]
          b
            | 3 items
      li
        | {{> language_select }}
      li
        a[href="page-login.html"]
          | Login
